<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <h5 class="btn btn-primary">获取值</h5>
    <h3 th:text="${name}"></h3>

    <h5 class="btn btn-primary">条件判断</h5>
    <div th:if="${name=='oli'}">
        <h3 th:text="${name}"></h3>
    </div>

    <h5 class="btn btn-primary">获取集合</h5>
    <ul>
        <li th:each="n,it:${numbers}" th:text="${n +'->'+it.index+'->' + it.count}"></li>
    </ul>

    <h5 class="btn btn-primary">超链接演示</h5>
    <a th:href="@{/home(${name})}">点击跳转</a>
    <a th:href="@{/home/edit(id=${id})}">点击跳转</a>
    <h5>重写url中使用变量</h5>
    <a th:href="@{/home/{id}/edit(id=${id})}"></a>


</div>
</body>
</html>